* {
	font-family: "Roboto", sans-serif;
}

h1, p {
	font-family: "Montserrat", sans-serif;
}

#profile {
	height: 230px;
	width: 250px;

	border-radius: 25%;
}

body {
	background-color: #f29e03 !important;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='46' height='46' fill-opacity='0.6' fill='%23ffa61d'/%3E%3C/svg%3E");
	
	background-attachment: fixed;
	/* background-size: cover; */
}

footer {
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.fa-solid, .fa-brands {
	font-size: 25px;
	color: white;
	/* margin = top right bottom left */
	margin: 0 10px 0 10px;
}

.fa-solid:hover, .fa-brands:hover {
	color: gray;
}

#landing {
	height: 92vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}